[job-run "import-traces"]
schedule    = @every 12h
image       = ghcr.io/arachnid/adsb.aero/api:latest
command     = import-traces
no-overlap  = true
delete      = true
network     = infra_db
environment = POSTGRES_HOST=postgres
environment = POSTGRES_PORT=5432
environment = POSTGRES_DB=adsb
environment = POSTGRES_USER=adsb
environment = SCHEDULER_CACHE_DIR=/data/cache
environment = SENTRY_DSN=__SENTRY_DSN__
volume      = infra_scheduler_cache:/data/cache
volume      = infra_terrain_data:/data/terrain

[job-run "import-airframes"]
schedule    = 0 0 3 * * 0
image       = ghcr.io/arachnid/adsb.aero/api:latest
command     = import-airframes
no-overlap  = true
delete      = true
network     = infra_db
environment = POSTGRES_HOST=postgres
environment = POSTGRES_PORT=5432
environment = POSTGRES_DB=adsb
environment = POSTGRES_USER=adsb
environment = SENTRY_DSN=__SENTRY_DSN__

[job-run "import-airports"]
schedule    = 0 10 3 * * 0
image       = ghcr.io/arachnid/adsb.aero/api:latest
command     = import-airports
no-overlap  = true
delete      = true
network     = infra_db
environment = POSTGRES_HOST=postgres
environment = POSTGRES_PORT=5432
environment = POSTGRES_DB=adsb
environment = POSTGRES_USER=adsb
environment = SENTRY_DSN=__SENTRY_DSN__
